<div class="container-fluid">
  <header class="jumbotron hero-spacer">
    <h1>Welcome to Web Chat!</h1>
    <p>这是用Ruby on Rails开发的web在线聊天工具，在<a href="https://github.com/PENGZhaoqing/RailsChat">RailChat</a>基础上完成</p>

    <h3>
      目前功能
    </h3>
    <li>聊天室消息即时推送</li>
    <li>支持查找，添加，删除好友</li>
    <li>创建私人聊天，也支持多人聊天</li>
    <li>房主可以拉人，踢人</li>
    <li>房主能转移房屋权限</li>
    ---------------------------------
    <li>用户个人简介(待添加富文本编辑器)</li>
    <li>UI界面修改（类似WeChat）</li>
    <li>管理后台（目前只能删除用户）</li>
    <li>现在添加好友需要对方同意</li>
    <li>现在可以注册用户</li>
    <h3>
      未完成
    </h3>
    <li>现在的即时推送只限于聊天的消息，其他的推送比如未读信息提醒（包括声音）等还未涉及</li>
    <li>聊天发送图片功能尚未完成</li>


    <h3>
      用法
    </h3>
    <li>管理员账号为：admin@test.com，密码为：password</li>
    <li>测试账号密码分别为: user1@test.com, password （邮箱后的数字1~10代表不同用户）</li>
    <li>聊天机器人请添加Robot用户，与其聊天即可自动回复</li>
    <li>请用两个浏览器分别登陆不同的用户来测试消息的即使推送，注意这两个用户需要互为好友</li>

  </header>

  <hr>
  <hr>
</div>